<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JIRAID</key>
        <string>ZXQAPP-110</string>
	<key>FILEHEADER</key>
	<string>/***************************************************************************************
// *
// *  Project:        ___PROJECTNAME___
// *
// *  Copyright ©     2014-___YEAR___ Banma Technologies Co.,Ltd
// *                  All rights reserved.
// *
// *  This software is supplied only under the terms of a license agreement,
// *  nondisclosure agreement or other written agreement with Banma Technologies
// *  Co.,Ltd. Use, redistribution or other disclosure of any parts of this
// *  software is prohibited except in accordance with the terms of such written
// *  agreement with Banma Technologies Co.,Ltd. This software is confidential
// *  and proprietary information of Banma Technologies Co.,Ltd.
// *
// ***************************************************************************************
// *
// *  Header Name: ___FILENAME___
// *
// *  General Description: Copyright and file header.
// *
// *  Created by ___FULLUSERNAME___ on ___DATE___.
// *
// *  JiraID : ___JIRAID___
// *
// ****************************************************************************************/</string>
</dict>
</plist>
